<!-- src/main/resources/templates/fragments/footer.html -->
<footer class="ns-footer">
  <div class="footer-cols">
    <div>
      <h4>Help</h4>
      <ul>
        <li><a href="#">Orders</a></li>
        <li><a href="#">Shipping</a></li>
        <li><a href="#">Returns</a></li>
      </ul>
    </div>
    <div>
      <h4>About NeoStore</h4>
      <ul>
        <li><a href="#">Our Story</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Sustainability</a></li>
      </ul>
    </div>
    <div>
      <h4>Connect</h4>
      <ul>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">YouTube</a></li>
        <li><a href="#">X/Twitter</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <span>© NeoStore · All rights reserved</span>
  </div>
</footer>
